<template lang="pug">
v-container
  v-row.mb-6
    Descriptions(:description="description")
  v-row.mb-6
    v-col.col-md-8.offset-md-2
      script(src="https://apps.elfsight.com/p/platform.js", defer)
      .elfsight-app-c9f0c185-26a6-4ee0-b41c-478744b2eacc

  v-row.mb-6
    v-col.col-md-8.offset-md-2
      iframe(
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d710.186922339884!2d-1.0809077707460375!3d44.6402701529332!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5499be3716e91f%3A0x37c215985547cf52!2s52%20Rue%20du%20Ch%C3%A2teau%2C%2033470%20Gujan-Mestras!5e0!3m2!1sfr!2sfr!4v1661579026656!5m2!1sfr!2sfr",
        width="100%",
        height="450",
        style="border: 0",
        allowfullscreen="",
        loading="lazy"
      )
  v-row
    Gallery(:gallery="room", v-for="room in gallery", :key="room.title")
</template>


<script lang="ts">
import {
  defineComponent,
  onMounted,
  reactive,
  toRefs,
} from "@vue/composition-api";
import Vue from "vue";
import { lodge2 } from "@/shared/pictures/gujan-mestras/lodge-2/lodge-2";
import { didier } from "@/shared/contact";

interface GujanMestrasLodge2HomePagePropOptions {}

export default Vue.component(
  "cmpGujanMestrasLodge2HomePage",
  defineComponent<GujanMestrasLodge2HomePagePropOptions>({
    props: {},

    setup(_props: GujanMestrasLodge2HomePagePropOptions) {
      const data = reactive({
        description: {
          contact: didier,
          title: "Maison au bord du Littoral du bassin d’Arcachon",
          text: "Jolie maison familiale à 50m du Sentier Littoral du Bassin d’Arcachon. Quartier très paisible, adapté pour les vacances en famille. La maison principale : 3 chambres, 8 couchages, 2 salles d’eau, grand espace de vie ouvert sur cuisine équipée. Et aussi un chalet type Arcachonnais, 2 couchages avec salon, kitchenette, une chambre, salle d’eau et WC. Jardin devant et derrière avec barbecue. Située à Gujan- Mestras, 15 mn d’Arcachon, 5 mn de la plage de la Hume, 3 mn du port de Larros, commerces proximité.",
        },
        gallery: {},
      });

      onMounted(() => {
        data.gallery = { lodge2: lodge2 };
      });

      return {
        ...toRefs(data),
      };
    },
  })
);
</script>
