<template lang="pug">
v-container
  Gallery(:gallery="room", v-for="room in all", :key="room.title")
</template>


<script lang="ts">
import {
  defineComponent,
  onMounted,
  reactive,
  toRefs,
} from "@vue/composition-api";
import Vue from "vue";
import { GalleryPictures } from "@/shared/interfaces.manager";
import { lodge1 } from "@/shared/pictures/gujan-mestras/lodge-1/lodge-1";
import { lodge2 } from "@/shared/pictures/gujan-mestras/lodge-2/lodge-2";

interface GujanMestrasGalleryPropOptions {}

export default Vue.component(
  "cmpGujanMestrasGallery",
  defineComponent<GujanMestrasGalleryPropOptions>({
    props: {},

    setup(_props: GujanMestrasGalleryPropOptions) {
      const data = reactive({
        salon: {} as GalleryPictures,
        kitchen: {} as GalleryPictures,
        all: {},
      });

      onMounted(() => {
        data.all = {
          lodge1: lodge1,
          lodge2: lodge2,
        };
      });

      return {
        ...toRefs(data),
      };
    },
  })
);
</script>
