<template lang="pug">
v-container
  v-row.mb-6
    Descriptions(:description="description")
  v-row.mb-6
    v-col.col-md-8.offset-md-2
      script(src="https://apps.elfsight.com/p/platform.js", defer)
      .elfsight-app-4a216f07-b1ef-4b7d-bc65-58441a271b1e
  v-row.mb-6
    v-col.col-md-8.offset-md-2
      iframe(
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2000.3761385692503!2d-0.4663603326094357!3d44.84276699191624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd55251a8ef838c9%3A0xa743cfbd1b9158f5!2sLes%20gites%20du%20Moulin!5e0!3m2!1sfr!2sfr!4v1643050066948!5m2!1sfr!2sfr",
        width="100%",
        height="450",
        style="border: 0",
        allowfullscreen="",
        loading="lazy"
      )
  v-row
    Gallery(:gallery="room", v-for="room in gallery", :key="room.title")
</template>


<script lang="ts">
import {
  defineComponent,
  onMounted,
  reactive,
  toRefs,
} from "@vue/composition-api";
import Vue from "vue";
import { garden } from "@/shared/pictures/tresses/shared/shared";
import { lodge1 } from "@/shared/pictures/tresses/lodge-1/lodge-1";
import { nam } from "@/shared/contact";

interface TressesLodge1HomePagePropOptions {}

export default Vue.component(
  "cmpTressesLodge1HomePage",
  defineComponent<TressesLodge1HomePagePropOptions>({
    props: {},

    setup(_props: TressesLodge1HomePagePropOptions) {
      const data = reactive({
        description: {
          contact: nam,
          title: "Joli gîte en pierre aux portes de Bordeaux.",
          text: "Ancienne demeure rénovée en gîte avec beaucoup de goût, un T3 idéal pour 4 personnes (6 pers maxi). A 15 minutes en voiture de Bordeaux centre, 20 minutes de Saint Emillion, 5 mn de la rocade sortie 24 (dessert l'A63, A10 Paris et A62). Votre gîte est situé dans une ancienne « Longère » atypique, avec beaucoup de charme, cadre lumineux, ambiance zen, qui se compose de deux jolies chambres décorées très chic, d’un salon, salle à manger cocooning avec cuisine ouverte entièrement équipée, d’une belle salle de bain, wc.",
        },
        gallery: {},
      });

      onMounted(() => {
        data.gallery = { lodge1: lodge1, garden: garden };
      });

      return {
        ...toRefs(data),
      };
    },
  })
);
</script>
