<template lang="pug">
v-container
  Gallery(
    :gallery="room",
    v-for="room in all",
    :key="room.title",
    :id="room.id"
  )
</template>


<script lang="ts">
import {
  defineComponent,
  onMounted,
  reactive,
  toRefs,
} from "@vue/composition-api";
import Vue from "vue";
import { GalleryPictures } from "@/shared/interfaces.manager";
import { garden } from "@/shared/pictures/tresses/shared/shared";
import { lodge1 } from "@/shared/pictures/tresses/lodge-1/lodge-1";
import { lodge2 } from "@/shared/pictures/tresses/lodge-2/lodge-2";
import { lodge3 } from "@/shared/pictures/tresses/lodge-3/lodge-3";
import { lodge4 } from "@/shared/pictures/tresses/lodge-4/lodge-4";
import { lodge5 } from "@/shared/pictures/tresses/lodge-5/lodge-5";
import { lodge6 } from "@/shared/pictures/tresses/lodge-6/lodge-6";
import { bedroom1 } from "@/shared/pictures/tresses/bedroom-1/bedroom-1";

interface TressesGalleryPagePropOptions {}

export default Vue.component(
  "cmpTressesGalleryPage",
  defineComponent<TressesGalleryPagePropOptions>({
    props: {},

    setup(_props: TressesGalleryPagePropOptions) {
      const data = reactive({
        salon: {} as GalleryPictures,
        kitchen: {} as GalleryPictures,
        all: {},
      });

      onMounted(() => {
        data.all = {
          lodge1: lodge1,
          lodge2: lodge2,
          lodge3: lodge3,
          lodge4: lodge4,
          lodge5: lodge5,
          lodge6: lodge6,
          bedroom1: bedroom1,
          garden: garden,
        };
      });

      return {
        ...toRefs(data),
      };
    },
  })
);
</script>
