<template lang="pug">
v-container
  v-row
    Descriptions(:description="description")
  v-row
    v-col.col-md-8.offset-md-2
      script(src="https://apps.elfsight.com/p/platform.js", defer)
      .elfsight-app-057d3960-dc9f-47f9-a509-7f36ae43b630

  v-row
    Gallery(:gallery="room", v-for="room in gallery", :key="room.title")
</template>

<script lang="ts">
import {
  defineComponent,
  onMounted,
  reactive,
  toRefs,
} from "@vue/composition-api";
import Vue from "vue";
import { nam } from "@/shared/contact";
import { garden } from "@/shared/pictures/tresses/shared/shared";
import { lodge3 } from "@/shared/pictures/tresses/lodge-3/lodge-3";

interface TressesLodge3HomePagePropOptions {}

export default Vue.component(
  "cmpTressesLodge3HomePage",
  defineComponent<TressesLodge3HomePagePropOptions>({
    props: {},

    setup(_props: TressesLodge3HomePagePropOptions) {
      const data = reactive({
        description: {
          contact: nam,
          title: "Charmant Gîte atypique à 15min de Bordeaux centre",
          text: "Gîte rénové avec beaucoup de goût, un T3 pour 6 personnes. A 15 minutes en voiture de Bordeaux centre, 20 mn de Saint-Emilion, 5 mn de la rocade sortie 24 (dessert l'A63 Arcachon, A10 Paris et A62 Toulouse). Votre gîte est dans une ancienne Longère atypique, avec beaucoup de charme, cadre lumineux, ambiance zen qui se compose d’une grande et jolie chambre, d’une plus petite mais tout aussi chaleureuse, d'un salon-salle à manger cocooning avec cuisine ouverte entièrement équipée et d’une belle salle d’eau.",
        },
        gallery: {},
      });

      onMounted(() => {
        data.gallery = { lodge3: lodge3, garden: garden };
      });

      return {
        ...toRefs(data),
      };
    },
  })
);
</script>
