<template lang="pug">
v-container
  v-row.mb-6
    Descriptions(:description="description")
  v-row.mb-6
    v-col.col-md-8.offset-md-2
      script(src="https://apps.elfsight.com/p/platform.js", defer)
      .elfsight-app-e0f55505-24e9-42d3-bcd8-bcc6e9572d0a
  v-row.mb-6
    v-col.col-md-8.offset-md-2
      iframe(
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2000.3761385692503!2d-0.4663603326094357!3d44.84276699191624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd55251a8ef838c9%3A0xa743cfbd1b9158f5!2sLes%20gites%20du%20Moulin!5e0!3m2!1sfr!2sfr!4v1643050066948!5m2!1sfr!2sfr",
        width="100%",
        height="450",
        style="border: 0",
        allowfullscreen="",
        loading="lazy"
      )
  v-row
    Gallery(:gallery="room", v-for="room in gallery", :key="room.title")
</template>


<script lang="ts">
import {
  defineComponent,
  onMounted,
  reactive,
  toRefs,
} from "@vue/composition-api";
import Vue from "vue";
import { garden } from "@/shared/pictures/tresses/shared/shared";
import { lodge5 } from "@/shared/pictures/tresses/lodge-5/lodge-5";
import { nam } from "@/shared/contact";

interface TressesLodge5HomePagePropOptions {}

export default Vue.component(
  "cmpTressesLodge5HomePage",
  defineComponent<TressesLodge5HomePagePropOptions>({
    props: {},

    setup(_props: TressesLodge5HomePagePropOptions) {
      const data = reactive({
        description: {
          contact: nam,
          title: "Gîte chic à 15 minutes de Bordeaux",
          text: "Gîte chic rénové avec beaucoup de goût, un T2 pour 3 personnes. A 15 minutes en voiture de Bordeaux centre, 20 mn de Saint-Emilion, 5 mn de la rocade sortie 24 (dessert l'A63 Arcachon, A10 Paris et A62 Toulouse). Votre gîte est dans une ancienne Longère atypique, avec beaucoup de charme, cadre zen, lumineux, il se compose d’une jolie chambre en pierre avec un lit jumeau (lit double ou deux lits simples), d'un salon cocooning avec cuisine ouverte entièrement équipée et d’une belle salle d’eau.",
        },
        gallery: {},
      });

      onMounted(() => {
        data.gallery = { lodge5: lodge5, garden: garden };
      });

      return {
        ...toRefs(data),
      };
    },
  })
);
</script>
