<template lang="pug">
v-container
  v-row.mb-6
    Descriptions(:description="description")
  v-row.mb-6
    v-col.col-md-8.offset-md-2
      script(src="https://apps.elfsight.com/p/platform.js", defer)
      .elfsight-app-476a66b2-1178-405f-b5ac-d200447b2a30

  v-row.mb-6
    v-col.col-md-8.offset-md-2
      iframe(
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2828.5374479081997!2d-0.45638728426210384!3d44.85135248214622!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd552fff3adea04d%3A0x81714567506493f5!2s1%20Ham.%20de%20Fabre%2C%2033370%20Tresses!5e0!3m2!1sfr!2sfr!4v1661576563205!5m2!1sfr!2sfr",
        width="100%",
        height="450",
        style="border: 0",
        allowfullscreen="",
        loading="lazy"
      )
  v-row
    Gallery(:gallery="room", v-for="room in gallery", :key="room.title")
</template>


<script lang="ts">
import {
  defineComponent,
  onMounted,
  reactive,
  toRefs,
} from "@vue/composition-api";
import Vue from "vue";
import { bedroom1 } from "@/shared/pictures/tresses/bedroom-1/bedroom-1";
import { nam } from "@/shared/contact";

interface Bedroom1HomePagePropOptions {}

export default Vue.component(
  "cmpBedroom1HomePage",
  defineComponent<Bedroom1HomePagePropOptions>({
    props: {},
    setup(_props: Bedroom1HomePagePropOptions) {
      const data = reactive({
        description: {
          contact: nam,
          title: "Chambre cosy 15 min de Bordeaux Centre",
          text: "Vous serez accueillis par des hôtes sympathiques, dans leur maison bien agréable, située dans un quartier résidentiel et très calme. Elle n’est qu’à  15 mn de Bordeaux Centre (en voiture), 20 mn de Saint-Emilion et 1heure  du Bassin d'Arcachon (en voiture). Vous sera réservée une chambre lumineuse de 16m² avec un placard, attenant un salon privé réservé exclusivement à votre usage, avec le canapé lit, et donnant accès sur le jardin. Commerces à proximité (A 5mn en voiture). Campagne (forêt, promenade pédestre) 3 mn à pied.",
        },
        gallery: {},
      });

      onMounted(() => {
        data.gallery = { bedroom1: bedroom1 };
      });

      return {
        ...toRefs(data),
      };
    },
  })
);
</script>
