<template lang="pug">
v-btn(color="rgb(6, 139, 136)", :href="`tel: ${contact.tel}`")
  span.white--text Contacter {{ contact.name }}
</template>

<style lang="css">
</style>

<script lang="ts">
import { defineComponent, reactive, toRefs } from "@vue/composition-api";
import Vue from "vue";
import { Contact } from "@/shared/interfaces.manager";

interface BtnContactPropOptions {
  contact: Contact;
}

export default Vue.component(
  "cmpBtnContact",
  defineComponent<BtnContactPropOptions>({
    props: {
      contact: {
        type: Object as () => Contact,
        required: true,
      },
    },

    setup(_props: BtnContactPropOptions) {
      const data = reactive({});

      return {
        ...toRefs(data),
      };
    },
  })
);
</script>
