<template lang="pug">
  v-container
    hr.my-5
    v-row
        v-col.col-md-8.offset-md-2
          h4.text-center En construction. A venir prochainement...
    hr.mx-10.my-5
    v-row
      v-col.col-md-8.offset-md-2
        v-card
          v-img(src="/house-construction.gif" rounded elevation="20" )
</template>

<style lang="css">
</style>

<script>
  export default{
    name: 'building',
  }

</script>

