<template lang="pug">
v-carousel(continuous)
  v-carousel-item(v-for="(image, i) in imageList", :key="i", :src="image.src")
    span.title-image {{ image.lodgeName }}
</template>

<style lang="scss">
.title-image {
  background-color: rgb(98, 180, 184);
  color: white;
  padding: 8px;
  border-bottom-right-radius: 10px;
}
</style>

<script>
export default {
  data() {
    return {
      imageList: [
        {
          src: "/carousel/garden-1.jpg",
          lodgeName: "Les gîtes du moulin de tresses",
        },
        {
          src: "/carousel/garden-3.jpg",
          lodgeName: "Les maisons de vacances du bassin",
        },
        {
          src: "/carousel/garden-2.jpg",
          lodgeName: "Les gîtes du moulin de tresses",
        },
        {
          src: "/carousel/garden-4.jpg",
          lodgeName: "Les maisons de vacances du bassin",
        },
      ],
    };
  },
};
</script>
