<template lang="pug">
v-container
  v-row
    v-col.col-md-8.offset-md-2
      v-card(shaped)
        v-card-title.test.text-justify {{ description.title }}
        v-card-text.text-justify {{ description.text }}
        v-card-text.pb-0 Besoin d'informations ? D'un devis ? Vous pouvez nous contacter par email ou tel :
        v-card-actions(v-if="description.contact")
          v-row
            v-col(:align="$vuetify.breakpoint.name === 'xs' ? 'start' : 'end'")
              v-btn(
                color="rgb(6, 139, 136)",
                :href="`mailto: ${description.contact.email ? description.contact.email : 'service-client@gitesdebordeaux.fr'}`"
              )
                span.white--text Contacter par email
            v-col.mr-4.col-auto(
              :align="$vuetify.breakpoint.name === 'xs' ? 'start' : 'end'"
            )
              BtnContact(:contact="description.contact")
</template>

<style lang="css">
.test {
  word-break: normal;
}
</style>

<script lang="ts">
import { defineComponent, reactive, toRefs } from "@vue/composition-api";
import Vue from "vue";
import { DescriptionCard } from "@/shared/interfaces.manager";

interface DescriptionPagePropOptions {
  description: DescriptionCard;
}

export default Vue.component(
  "cmpDescriptionsPage",
  defineComponent<DescriptionPagePropOptions>({
    props: {
      description: {
        type: Object as () => DescriptionCard,
        required: true,
      },
    },

    setup(props: DescriptionPagePropOptions) {
      const data = reactive({});

      return {
        ...toRefs(data),
      };
    },
  })
);
</script>
