<template lang="pug">
v-container
  hr.my-5.ml-n2
  v-row
    div {{ gallery.title }}
  hr.my-5.ml-n2
  v-divider
  v-row
    v-col.col-lg-3.col-sm-6(
      v-for="picture in gallery.pictures",
      :key="picture.src"
    )
      v-card(elevation="10", shaped)
        v-img.grey.lighten-2.picture(
          :src="picture.src",
          :lazy-src="picture.src",
          aspect-ratio="1",
          @click="onOpenDialog(picture)"
        )
          template(v-slot:placeholder)
            v-row.fill-height.ma-0(align="center", justify="center")
              v-progress-circular(indeterminate, color="grey lighten-5")
  PictureDialog(
    v-if="$vuetify.breakpoint.name != 'xs'",
    v-model="hasPictureDialog",
    :picture="pictureDialog",
    :title="gallery.title",
    @input="onCloseDialog"
  )
</template>

<style lang="css">
.picture {
  cursor: pointer;
}
</style>

<script lang="ts">
import { defineComponent, reactive, toRefs } from "@vue/composition-api";
import Vue from "vue";
import { GalleryPictures, Picture } from "@/shared/interfaces.manager";

interface GalleryPagePropOptions {
  gallery: GalleryPictures;
}

export default Vue.component(
  "cmpGalleryPage",
  defineComponent<GalleryPagePropOptions>({
    props: {
      gallery: {
        type: Object as () => GalleryPictures,
        required: true,
      },
    },
    setup(_props: GalleryPagePropOptions) {
      // CONST
      const data = reactive({
        hasPictureDialog: false,
        pictureDialog: {} as Picture,
      });

      // FUNCTION
      function onOpenDialog(picture: Picture): void {
        data.pictureDialog = picture;
        data.hasPictureDialog = true;
      }

      function onCloseDialog(): void {
        data.pictureDialog = {} as Picture;
        data.hasPictureDialog = false;
      }

      return {
        ...toRefs(data),
        onOpenDialog,
        onCloseDialog,
      };
    },
  })
);
</script>
