<template lang="pug">
div
  v-dialog(v-model="value", width="85%", persistent)
    v-card
      v-toolbar(dense, elevation="0")
        v-toolbar-title.mt-3 {{ title }}
        v-spacer
        v-icon.mt-4(@click="$emit('input', false)", size=30) mdi-close
      v-row(no-gutters)
        v-img.ma-5(
          :src="picture.src",
          :alt="picture.alt",
          max-height="600",
          :max-width="maxWidth()"
        )
</template>

<style lang="css">
</style>

<script lang="ts">
import { defineComponent, reactive, toRefs } from "@vue/composition-api";
import Vue from "vue";
import { Picture } from "@/shared/interfaces.manager";

interface PictureDialogPropOptions {
  value: boolean;
  picture: Picture;
  title: string;
}

export default Vue.component(
  "cmpPictureDialogPage",
  defineComponent<PictureDialogPropOptions>({
    props: {
      value: {
        type: Boolean,
        required: true,
        default: false,
      },
      picture: {
        type: Object as () => Picture,
        required: true,
      },
      title: {
        type: String,
        required: false,
      },
    },

    setup(props: PictureDialogPropOptions) {
      const data = reactive({
        dialog: true,
      });

      function maxWidth(): number {
        return (screen.width * 82) / 100;
      }

      return {
        ...toRefs(data),
        maxWidth,
      };
    },
  })
);
</script>
