<template lang="pug">
v-container
  v-row.mb-6
    Descriptions(:description="description")
  v-row.mb-6
    v-col.col-md-8.offset-md-2
      script(src="https://apps.elfsight.com/p/platform.js", defer)
      .elfsight-app-507e10ba-6d30-4761-b8ee-aebcc716b3cd

  v-row.mb-6
    v-col.col-md-8.offset-md-2
      iframe(
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2828.5374479081997!2d-0.45638728426210384!3d44.85135248214622!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd552fff3adea04d%3A0x81714567506493f5!2s1%20Ham.%20de%20Fabre%2C%2033370%20Tresses!5e0!3m2!1sfr!2sfr!4v1661576563205!5m2!1sfr!2sfr",
        width="100%",
        height="450",
        style="border: 0",
        allowfullscreen="",
        loading="lazy"
      )
  v-row
    Gallery(:gallery="room", v-for="room in gallery", :key="room.title")
</template>


<script lang="ts">
import {
  defineComponent,
  onMounted,
  reactive,
  toRefs,
} from "@vue/composition-api";
import Vue from "vue";
import { lodge6 } from "@/shared/pictures/tresses/lodge-6/lodge-6";
import { nam } from "@/shared/contact";

interface TressesLodge6HomePagePropOptions {}

export default Vue.component(
  "cmpTressesLodge6HomePage",
  defineComponent<TressesLodge6HomePagePropOptions>({
    props: {},
    setup(_props: TressesLodge6HomePagePropOptions) {
      const data = reactive({
        description: {
          contact: nam,
          title: "Halte cosy aux portes de Bordeaux",
          text: "Appartement refait à neuf, un T2 bis pour 6 personnes. A 15 minutes en voiture de Bordeaux centre, 20 mn de Saint-Emilion, 5 mn de la rocade sortie 24 (dessert l'A63 Arcachon, Biarritz, A10 Paris et A62 Toulouse). Indépendant de notre maison, avec beaucoup de charme, cadre zen, lumineux, le logement se compose d'une chambre, d'un salon-kitchenette entièrement équipé et d'une mezzanine pour deux couchages. Nam et Didier sont heureux de vous y accueillir.",
        },
        gallery: {},
      });

      onMounted(() => {
        data.gallery = { lodge6: lodge6 };
      });

      return {
        ...toRefs(data),
      };
    },
  })
);
</script>
