<template lang="pug">
v-container
  v-row.mb-6
    Descriptions(:description="description")
  v-row.mb-6
    v-col.col-md-8.offset-md-2
      script(src="https://apps.elfsight.com/p/platform.js", defer)
      .elfsight-app-802de469-6d5e-4a6a-8ab0-00435046621a

  v-row.mb-6
    v-col.col-md-8.offset-md-2
      iframe(
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d710.1921201220925!2d-1.0649036707460144!3d44.63955955294488!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5499ddf413988d%3A0x1a783a3985d02138!2s23%20Rue%20Jules%20Barat%2C%2033470%20Gujan-Mestras!5e0!3m2!1sfr!2sfr!4v1661578811624!5m2!1sfr!2sfr",
        width="100%",
        height="450",
        style="border: 0",
        allowfullscreen="",
        loading="lazy"
      )
  v-row
    Gallery(:gallery="room", v-for="room in gallery", :key="room.title")
</template>


<script lang="ts">
import {
  defineComponent,
  onMounted,
  reactive,
  toRefs,
} from "@vue/composition-api";
import Vue from "vue";
import { lodge1 } from "@/shared/pictures/gujan-mestras/lodge-1/lodge-1";
import { nam } from "@/shared/contact";

interface GujanMestrasLodge1HomePagePropOptions {}

export default Vue.component(
  "cmpGujanMestrasLodge1HomePage",
  defineComponent<GujanMestrasLodge1HomePagePropOptions>({
    props: {},

    setup(_props: GujanMestrasLodge1HomePagePropOptions) {
      const data = reactive({
        description: {
          contact: nam,
          title: "Élégante maison au bord du bassin Arcachon",
          text: "Belle, élégante maison magnifiquement rénovée à environ 300m du Bassin d’Arcachon. Quartier paisible, adapté parfaitement pour les vacances en famille ou entre amis, 3 chambres (une suite parentale, douche), pour 6 - 7 couchages, 2 salles d’eau ; l'espace de vie très agréable est ouvert sur cuisine équipée. Jardin zen, terrasse bois, parking sécurisé, à 15 mn d’Arcachon, 2 mn à vélo de la plage, du port, du Canal, 3 mn du port de Larros. Commerces, marchés, restos, cabanes d’huîtres à proximité, à pied.",
        },
        gallery: {},
      });

      onMounted(() => {
        data.gallery = { lodge1: lodge1 };
      });

      return {
        ...toRefs(data),
      };
    },
  })
);
</script>
