<template lang="pug">
v-container
  v-row.mb-6
    Descriptions(:description="description")
  v-row.mb-6
    v-col.col-md-8.offset-md-2
      script(src="https://apps.elfsight.com/p/platform.js", defer)
      .elfsight-app-2344909d-b127-46aa-9718-90c054003edf
  v-row.mb-6
    v-col.col-md-8.offset-md-2
      iframe(
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2822.858352413157!2d-0.8774668842592677!3d44.96687157451014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd54cafaf0101049%3A0x88597a31c306c9ac!2s26%20All.%20des%20Tourterelles%2C%2033480%20Sainte-H%C3%A9l%C3%A8ne!5e0!3m2!1sfr!2sfr!4v1661869705003!5m2!1sfr!2sfr",
        width="100%",
        height="450",
        style="border: 0",
        allowfullscreen="",
        loading="lazy"
      )
  v-row
    Gallery(:gallery="room", v-for="room in gallery", :key="room.title")
</template>


<script lang="ts">
import {
  defineComponent,
  onMounted,
  reactive,
  toRefs,
} from "@vue/composition-api";
import Vue from "vue";
import { lodge1 } from "@/shared/pictures/sainte-helene/lodge-1/lodge-1";
import { romain } from "@/shared/contact";

interface SainteHeleneLodge1HomePagePropOptions {}

export default Vue.component(
  "cmpSainteHeleneLodge1HomePage",
  defineComponent<SainteHeleneLodge1HomePagePropOptions>({
    props: {},
    setup(_props: SainteHeleneLodge1HomePagePropOptions) {
      const data = reactive({
        description: {
          contact: romain,
          title: "Gîte cosy entre Bordeaux et Lacanau",
          text: "Magnifique gîte rénové situé entre Bordeaux (à environ 30kms ) et l'océan (proche de Lacanau et du Bassin d'Arcachon) avec une terrasse privative et un jardin. La pièce de vie cocooning, lumineuse et au calme, offre beaucoup de charme ; elle possède une cuisine ouverte entièrement équipée. La chambre comprend un lit double, placard et penderie. Ce logement tout neuf est situé dans un quartier résidentiel très calme, proche de la forêt. Il y a une supérette, presse, tabac, boulangeries...",
        },
        gallery: {},
      });

      onMounted(() => {
        data.gallery = { lodge1: lodge1 };
      });

      return {
        ...toRefs(data),
      };
    },
  })
);
</script>
