<template lang="pug">
v-app
  scrollactive(v-scroll="handleScroll")
  v-btn#test(
    fab,
    small,
    fixed,
    bottom,
    right,
    color="white",
    @click="toTopScroll",
    v-if="isBtnForTop && $vuetify.breakpoint.smAndDown"
  )
    v-icon(color="#62B4B8", large) mdi-chevron-up
  v-img#img-background(
    v-if="$vuetify.breakpoint.mdAndUp",
    width="100%",
    src="/pictures/tresses/shared/garden-1.jpg",
    position="center"
  )
  v-app-bar(dense, color="#62B4B8", collapse-on-scroll, app)
    v-menu(
      offset-y,
      transition="slide-x-transition",
      :close-on-content-click="false",
      v-model="hasMenu"
    )
      template(v-slot:activator="{ on, attrs }")
        v-btn(icon, v-on="on")
          v-app-bar-nav-icon(color="white")
      v-card
        v-list
          v-list-item(
            v-for="lodge in menu",
            :key="lodge.title",
            :to="lodge.link",
            @click="onMenu",
            prepend-icon="mdi-home-outline",
            no-action,
            color="#62B4B8"
          )
            v-list-item-title {{ lodge.title }}

    v-app-bar-title
      v-btn(@click="redirectToHome", text)
        span.white--text(v-if="$vuetify.breakpoint.name != 'xs'") Les gîtes de Bordeaux
        v-icon(v-else, color="white", size=30) mdi-home-outline
    v-spacer

    .ml-14
      v-btn(icon, color="white", large, @click="redirectToContact")
        v-icon mdi-email-outline
    //- .flag-container
    //-   v-btn(icon, small, @click="selectLanguage('fr')")
    //-     v-img(src="/flags/france.png", width=30)
    //- .flag-container
    //-   v-btn(icon, small, @click="selectLanguage('en')")
    //-     v-img(src="/flags/united-states.png", width=30)
    //- .flag-container
    //-   v-btn(icon, small, @click="selectLanguage('vn')")
    //-     v-img(src="/flags/vietnam.png", width=30)

    template(v-slot:extension, v-if="pathName !== ''")
      v-tabs(color="white", v-if="pathName === 'tresses'")
        v-tab(:to="'/tresses/lodge-1/homepage'") Gîte 1
        v-tab(:to="'/tresses/lodge-2/homepage'") Gîte 2
        v-tab(:to="'/tresses/lodge-3/homepage'") Gîte 3
        v-tab(:to="'/tresses/lodge-4/homepage'") Gîte 4
        v-tab(:to="'/tresses/lodge-5/homepage'") Gîte 5
        v-tab(:to="'/tresses/lodge-6/homepage'") Gîte 6
        v-tab(:to="'/tresses/bedroom-1/homepage'") Chambre
        v-tab(:to="'/tresses/gallery'") {{ $t('menu.gallery') }}
      v-tabs(color="white", v-if="pathName === 'gujan-mestras'")
        v-tab(:to="'/gujan-mestras/lodge-1/homepage'") Gîte 1
        v-tab(:to="'/gujan-mestras/lodge-2/homepage'") Gîte 2
        v-tab(:to="'/gujan-mestras/gallery'") {{ $t('menu.gallery') }}
      v-tabs(color="white", v-if="pathName === 'sainte-helene'")
        v-tab(:to="'/sainte-helene/lodge-1/homepage'") Gîte 1
      v-tabs(color="white", v-if="pathName === 'contact'")
        v-tab(:to="'/contact'") Contact
      v-tabs(color="white", v-if="pathName === 'legal-notice'")
        v-tab(:to="'/legal-notice'") Mentions légales

  v-main
    v-container(fluid)
      nuxt/
  Footer
</template>

<style lang="scss">
#app {
  background-color: #b2dfdb;
}
#img-background {
  position: fixed;
  opacity: 0.33;
}
* {
  font-family: "Zen Kurenaido", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.flag-container {
  margin-left: 8px;
}
</style>

<script lang="ts">
import {
  computed,
  defineComponent,
  reactive,
  toRefs,
} from "@vue/composition-api";
import Vue from "vue";

interface HomePagePagePropOptions {}

export default Vue.component(
  "cmpHomePage",
  defineComponent<HomePagePagePropOptions>({
    props: {},

    setup(_props: HomePagePagePropOptions, { root }) {
      const data = reactive({
        menu: [
          {
            title: "Les gîtes du moulin de Tresses",
            link: "/tresses/lodge-1/homepage",
          },
          {
            title: "Les maisons de vacances du bassin",
            link: "/gujan-mestras/lodge-1/homepage",
          },
          {
            title: "Les gîtes du Médoc",
            link: "/sainte-helene/lodge-1/homepage",
          },
        ],
        hasMenu: false,
        isBtnForTop: false,
      });

      const pathName = computed((): string => {
        const pathArray = root.$route.path.split("/");
        return pathArray[1];
      });

      function redirectToHome(): void {
        root.$router.push("/");
      }

      function redirectToContact(): void {
        root.$router.push("/contact");
      }

      function selectLanguage(language: string): void {
        root.$i18n.locale = language;
      }

      function onMenu(): void {
        data.hasMenu = false;
      }

      function handleScroll(): void {
        data.isBtnForTop = window.scrollY > 500;
      }

      function toTopScroll(): void {
        window.scrollTo({ top: 0 });
      }

      return {
        ...toRefs(data),
        pathName,
        redirectToHome,
        redirectToContact,
        selectLanguage,
        onMenu,
        handleScroll,
        toTopScroll,
      };
    },
  })
);
</script>


