<template lang="pug">
v-container
  hr.my-5
  v-row
    v-col.col-md-8.offset-md-2
      h4.text-center {{ $t('contact.title') }}
  hr.mx-10.my-5
  v-row
    v-col.col-md-8.offset-md-2
      v-card(rounded)
        v-card-text.text-justify {{ $t('contact.description') }}
  v-row.mt-6
    v-col.col-md-8.offset-md-2
      v-expansion-panels
        v-expansion-panel
          v-expansion-panel-header {{ $t('contact.phone') }}
          v-expansion-panel-content
            v-row.mb-5(dense, align="center")
              v-col.col-12.col-xs-3.ml-4
                span Nam : +33 6 28 61 68 85
              v-col.col-12.col-xs-3.ml-4
                BtnContact(:contact="nam")
              v-col.ml-4.mb-xs-6(cols="auto")
                span Pour les gîtes du moulin de Tresses.
            v-row.mb-5(dense, align="center")
              v-col.col-12.col-xs-3.ml-4
                span Didier : +33 6 27 14 60 83
              v-col.col-12.col-xs-3.ml-4
                BtnContact(:contact="didier")
              v-col.ml-4.mb-xs-6(cols="auto")
                span Pour les maisons de vacances du bassin.
            v-row.mb-5(dense, align="center")
              v-col.col-12.col-xs-3.ml-4
                span Romain : +33 7 86 39 23 44
              v-col.col-12.col-xs-3.ml-4
                BtnContact(:contact="romain")
              v-col.ml-4.mb-xs-6(cols="auto")
                span Pour les gîtes du Médoc.

        v-expansion-panel
          v-expansion-panel-header {{ $t('contact.mail') }}
          v-expansion-panel-content
            v-row
              v-col.ml-4
                v-btn(
                  color="rgb(6, 139, 136)",
                  href="mailto: service-client@gitesdebordeaux.fr"
                )
                  span.white--text Contacter par email
</template>


<script lang="ts">
import { defineComponent, reactive, toRefs } from "@vue/composition-api";
import Vue from "vue";
import { nam, didier, romain } from "~/shared/contact";

interface ContactPagePropOptions {}

export default Vue.component(
  "cmpContact",
  defineComponent<ContactPagePropOptions>({
    props: {},

    setup(_props: ContactPagePropOptions, { root }) {
      const data = reactive({
        lodges: [
          `Tresse - ${root.$i18n.t("menu.bedroom")} 1`,
          `Tresse - ${root.$i18n.t("menu.bedroom")} 2`,
          `Tresse - ${root.$i18n.t("menu.bedroom")} 3`,
          `Tresse - ${root.$i18n.t("menu.bedroom")} 4`,
          `La Longère - ${root.$i18n.t("menu.apartment")} 1`,
          `La Longère - ${root.$i18n.t("menu.apartment")} 2`,
          `La Longère - ${root.$i18n.t("menu.apartment")} 3`,
          `La Longère - ${root.$i18n.t("menu.apartment")} 4`,
          `La Longère - ${root.$i18n.t("menu.apartment")} 5`,
        ],
      });

      return {
        ...toRefs(data),
        nam,
        didier,
        romain,
      };
    },
  })
);
</script>
