<template lang="pug">
v-container
  hr.my-5
  v-row
    v-col.col-md-8.offset-md-2
      h4.text-center.mb-2 Bienvenue aux Gîtes de Bordeaux.
      h4.text-center.mb-4 Heureux de vivre dans une si belle région ! Nous avons tellement envie de vous la faire partager. Alors, n’hésitez pas, de charmantes locations vous attendent en Bordelais :
      h4.text-center
        v-btn(text, :to="'/tresses/lodge-1/homepage'") Les gîtes du moulin de Tresses
      h4.text-center
        v-btn(text, :to="'/gujan-mestras/lodge-1/homepage'") Les maisons de vacances du bassin
      h4.text-center
        v-btn(text, :to="'/sainte-helene/lodge-1/homepage'") Les gîtes du Médoc
  hr.mx-10.my-5
  v-row
    v-col.col-md-8.offset-md-2
      Carousel
  v-row
    v-col.col-md-8.offset-md-2
      iframe(
        src="https://www.google.com/maps/d/u/0/embed?mid=1OKq4M1OcY0dPpUkVWSKvxjiTlDVWH18&ehbc=2E312F",
        width="100%",
        height="500",
        style="border: 0",
        allowfullscreen="",
        loading="lazy"
      )
</template>

<style lang="css">
.map-container {
  width: 400px;
  height: 450px;
  margin: 0 auto;
}
</style>


<script lang="ts">
import { defineComponent, reactive, toRefs } from "@vue/composition-api";
import Vue from "vue";

interface HomePagePropOptions {}

export default Vue.component(
  "cmpHomePage",
  defineComponent<HomePagePropOptions>({
    props: {},
    setup(_props: HomePagePropOptions) {
      const data = reactive({
        menu: [],
      });

      return {
        ...toRefs(data),
      };
    },
  })
);
</script>
